.c{
  color:#815999
}
.cf {
  color: #fff;
}
.ce {
  color: #eee;
}
.cd {
  color: #ddd;
}
.ca {
  color: #aaa;
}
.cb {
  color: #bbb;
}
.cc {
  color: #ccc;
}

.c0 {
  color: #000;
}
.c1 {
  color: #111;
}
.c2 {
  color: #222;
}
.c3 {
  color: #333;
}
.c4 {
  color: #444;
}
.c5 {
  color: #555;
}
.c6 {
  color: #666;
}
.c7 {
  color: #777;
}
.c8 {
  color: #888;
}
.c9 {
  color: #999;
}
.cred{
  color: #e34755;
}
.bcr{
  background: #e34755!important;
}
.bc{
  background: #815999;
}
.bcf{
  background: white;
}