.f28 {
  font-size: 28px;
}
.f26 {
  font-size: 26px;
}
.f24 {
  font-size: 24px;
}
.f22 {
  font-size: 22px;
}
.f20 {
  font-size: 20px;
}
.f19 {
  font-size: 19px;
}
.f18 {
  font-size: 18px;
}
.f17 {
  font-size: 17px;
}
.f16 {
  font-size: 16px;
}
.f15 {
  font-size: 15px;
}
.f14 {
  font-size: 14px;
}
.f13 {
  font-size: 13px;
}
.f12 {
  font-size: 12px;
}
.f11 {
  font-size: 11px;
}
.f10 {
  font-size: 10px;
}
.f9 {
  font-size: 9px;
}
.f8 {
  font-size: 8px;
}

.fb {
  font-weight: bold;
}
.no-fb {
  font-weight: normal;
}
